<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwitchControllerAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>352C61121D0EBD510050956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352C612E1D0EBD520050956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352C61391D0EBD520050956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
